<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989152477613-5tv12ept5igdt2o1lp2lj92rhq2tn2ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989152477613-5tv12ept5igdt2o1lp2lj92rhq2tn2ph</string>
	<key>API_KEY</key>
	<string>AIzaSyBFJLld8r7X-IMcrTft7ojdmQhKd-J6P44</string>
	<key>GCM_SENDER_ID</key>
	<string>989152477613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.users</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-114b0</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-114b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989152477613:ios:101fcbabd20ba06f1e6124</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-114b0-default-rtdb.firebaseio.com</string>
</dict>
</plist>